*.o
*.om
*.xgcc
*.obj
*.oo
*.exe

optional_files/build/*
optional_files/project/*
!optional_files/project/Makefile
!optional_files/project/CAST.make




/CAST_2016/x64/Release/CAST_2016.pdb
/CAST_2016/x64/Release/CAST_2016.ipdb
/CAST_2016/x64/Release/CAST_2016.iobj
/CAST_2016/x64/Release/CAST_2016.exe
/CAST_2016/x64/Release
/CAST_2016/CAST_2016.VC.VC.opendb
/CAST_2016/CAST_2016.VC.db
/CAST_2016/CAST_2016.sln
/CAST_2016/CAST_2016/x64/Release/vc140.pdb
/CAST_2016/CAST_2016/x64/Release/CAST_2016.tlog/link.write.1.tlog
/CAST_2016/CAST_2016/x64/Release/CAST_2016.tlog/link.read.1.tlog
/CAST_2016/CAST_2016/x64/Release/CAST_2016.tlog/link.command.1.tlog
/CAST_2016/CAST_2016/x64/Release/CAST_2016.tlog/CL.write.1.tlog
/CAST_2016/CAST_2016/x64/Release/CAST_2016.tlog/CL.read.1.tlog
/CAST_2016/CAST_2016/x64/Release/CAST_2016.tlog/CL.command.1.tlog
/CAST_2016/CAST_2016/x64/Release/CAST_2016.tlog/CAST_2016.lastbuildstate
/CAST_2016/CAST_2016/x64/Release/CAST_2016.tlog
/CAST_2016/CAST_2016/x64/Release/CAST_2016.log
/CAST_2016/CAST_2016/x64/Release
/CAST_2016/CAST_2016/stdafx.cpp
/CAST_2016/CAST_2016/ReadMe.txt
/CAST_2016/CAST_2016/CAST_2016.vcxproj.filters
/CAST_2016/CAST_2016/CAST_2016.vcxproj
/CAST_2016/CAST_2016/CAST_2016.cpp
/CAST_2016/.vs/CAST_2016/v14/.suo
/CAST_2016/Debug/CAST_2016.pdb
/CAST_2016/Debug/CAST_2016.ilk
/CAST_2016/Debug/CAST_2016.exe
/CAST_2016/Debug
/CAST_2016/CAST_2016/Debug/vc140.pdb
/CAST_2016/CAST_2016/Debug/vc140.idb
/CAST_2016/CAST_2016/Debug/CAST_2016.tlog/link.write.1.tlog
/CAST_2016/CAST_2016/Debug/CAST_2016.tlog/link.read.1.tlog
/CAST_2016/CAST_2016/Debug/CAST_2016.tlog/link.command.1.tlog
/CAST_2016/CAST_2016/Debug/CAST_2016.tlog/CL.write.1.tlog
/CAST_2016/CAST_2016/Debug/CAST_2016.tlog/CL.read.1.tlog
/CAST_2016/CAST_2016/Debug/CAST_2016.tlog/CL.command.1.tlog
/CAST_2016/CAST_2016/Debug/CAST_2016.tlog/CAST_2016.lastbuildstate
/CAST_2016/CAST_2016/Debug/CAST_2016.tlog
/CAST_2016/CAST_2016/Debug/CAST_2016.log
/CAST_2016/CAST_2016/Debug
/CAST_2016
/cast_susanne/.vs/cast_susanne/v14
/cast_susanne/Projekt1
/cast_susanne/Release
/cast_susanne/x64/Debug
/cast_susanne/x64/Release
/cast_susanne/cast_susanne.sln
/cast_susanne/cast_susanne.VC.db
/cast_susanne/cast_susanne.VC.VC.opendb
/manual/castmanual.synctex
