[submodule "submodules/eigen"]
	path = submodules/eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
	ignore = dirty
[submodule "submodules/boost"]
	path = submodules/boost
	url = https://github.com/boostorg/boost.git
	ignore = dirty
[submodule "submodules/googletest"]
	path = submodules/googletest
	url = https://github.com/google/googletest.git
	ignore = dirty
[submodule "submodules/ALGLIB"]
	path = submodules/ALGLIB
	url = https://github.com/hjkuijf/ALGLIB.git
	ignore = dirty
