*.o
*.om
*.xgcc
*.obj
*.oo
*.exe

.*

optional_files/build/*
optional_files/project/*
optional_files/project/Makefile
optional_files/project/CAST.make
!optional_files/build/test_files
!optional_files/build/python_modules
optional_files/build/python_modules/*.pyc
optional_files/premake5.exe

optional_files/libs/*

/src/documentation/html
/src/documentation/latex

/manual/castmanual-blx.bib
/manual/castmanual.bcf
/manual/castmanual.aux
/manual/castmanual.bbl
/manual/castmanual.blg
/manual/castmanual.pdf
/manual/castmanual.lof
/manual/castmanual.log
/manual/castmanual.out
/manual/castmanual.run.xml
/manual/castmanual.synctex
/manual/castmanual.toc
/manual/texput.log
/manual/castmanual.synctex.gz

/manual/Tutorial/LaTeX/*-blx.bib
/manual/Tutorial/LaTeX/*.bcf
/manual/Tutorial/LaTeX/*.aux
/manual/Tutorial/LaTeX/*.bbl
/manual/Tutorial/LaTeX/*.blg
/manual/Tutorial/LaTeX/*.pdf
/manual/Tutorial/LaTeX/*.lof
/manual/Tutorial/LaTeX/*.log
/manual/Tutorial/LaTeX/*.out
/manual/Tutorial/LaTeX/*.run.xml
/manual/Tutorial/LaTeX/*.synctex
/manual/Tutorial/LaTeX/*.toc
/manual/Tutorial/LaTeX/*.synctex.gz


examples/taskMD/*
!examples/taskMD/*.rar
examples/taskFEP/*
!examples/taskFEP/*.rar
/CAST_2016/CAST_2016.VC.VC.opendb
/CAST_2016
/CAST_YORICK
/CAST_YORICK
/CAST_YORICK
/CAST_YORICK

/INPUTstructures
/src/.vscode

