*.o
*.om
*.xgcc
*.obj
*.oo
*.exe

optional_files/build/*
optional_files/project/*
!optional_files/project/Makefile
!optional_files/project/CAST.make

/manual/castmanual-blx.bib
/manual/castmanual.aux
/manual/castmanual.bbl
/manual/castmanual.blg
/manual/castmanual.lof
/manual/castmanual.log
/manual/castmanual.out
/manual/castmanual.run.xml
/manual/castmanual.synctex
/manual/castmanual.toc
/manual/texput.log
/manual/castmanual.synctex.gz
